*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background: url(image\ 1.png) ;
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition */
    background-attachment: fixed; /* Fix the background */
    height: 100vh;
    width: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif

}
.whole{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    
}
.c1{
    height: 100vh;
    width: auto;
}
.container{
 background-color: rgba(255, 255, 255, 0.514);
 height: 68%;
 width: 64%;
 border-radius: 15px;
 backdrop-filter: blur(10px);
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: column;

 

}
.sidebar{
    background-color: rgba(87, 86, 86, 0.514);
    height: 68%;
    width: 22%;
    padding: 16px;
    backdrop-filter: blur(10px);
    font-size: 16px;
}
.dots{
    position: relative;
    left: 60%;
    background-color: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(10px);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;

}
.LIBRARY{
    display: inline-block;
}
.lib{
    font-size: 12px;
}
.content{
    height: 44%;
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 0px;


}
.content ul li {
    list-style: none;
    padding: 6px;
    margin-top: 22px;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 0;
}
.content ul li p{
   position: relative;
   display: inline;
   left: 15px;
}
.content-2{
    height: 44%;
    width: 100%;
    
  /* margin-bottom: 10px; */
  

}
.content-2 ul li  {
    list-style: none;
    padding: 8px;
    padding-left: 18px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.content-2 h2{
    padding-left: 14px;
     font-size: 20px;
}
.greet{
    height: 10%;
    width: 95%;
    padding: 19px;
}
.greet p{
    font-weight: 100;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.671);
    padding: 5px;
}
input{
    width: 100%;
    height: 33px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.356);
    
    
}
input::placeholder{
    color: white;
    
}


.box{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4px;
   
}
.cards
{
    height: 42%;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 2px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    position: relative;
    top: 60px;
    
    font-size: 12px;
    font-weight: 100;
}
.cards:hover{
    
    background-color: rgb(48, 48, 47);
    transition: ease-in 500ms;
}
.smal{
    height: 9%;
    width: 60%;
    position: relative;
    z-index: 100;
    left: 50px;
    background-color: rgba(233, 227, 227, 0.575);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    top: 25px;
}
.smal-2{
    height: 250px;;
    width: 50px;
    
    
    
    background-color: rgba(233, 227, 227, 0.575);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    
    margin: 5px;
}
.smal-2 li{
    list-style: none;
    padding: 10px;
    text-align: center;
    
}
.cards1{
    height: 80%;
    width: 90%;
    background-color: greenyellow;
    margin: 8px;
    
    
    
}
.cards p{
    font-size: 11px;
    
    font-weight: 100;
    font-style: oblique;
    text-align: center;
}